@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
